body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.margin-right {
  margin-right: 10px;
}

.margin-full {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}
