<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include template/header %>
</head>

<body>
  <div class="container">
    <h2>List Devices online!</h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Device Mac</th>
          <th>Device Name</th>
          <th>Temprature</th>
          <th>Humidity</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>
  </div>
  <script>
    window.onload = function () {
      var tableBody = $("#tableBody");

      console.log('window - onload');
      var socket = io();
      socket.on("7e:e9:17:2d:e6:b4_add_data", function (data) {
        console.log(data);
      });

      function reload() {
        callAjax("", "/api/socket/listDevices", "GET", function (xhr, status) {}, function (xhr, status,
          error) {
          if (error) {
            alert("Lỗi lấy dữ liệu!!!\r\nXin vui lòng thử lại");
          }
        }, function (result, status, xhr) {
          let item = '<tr>';
          console.log(result);
          result.forEach(Element => {
            item += '<td><span class="margin-full">' + Element.mac + '</span></td>'
            item += '<td><span>' + Element.name + '</span></td>'
            item += '<td><span>' + Element.temprature + '</span></td>'
            item += '<td><span>' + Element.humidity + '</span></td>'
            item += '<td><a href = "/device?mac=' + Element.mac +
              '" target="_blank" class = "btn btn-primary margin-full" role = "button" > Remote </a>'
            item += '<a href = "/addcode?mac=' + Element.mac +
              '" target="_blank" class = "btn btn-info margin-full" role = "button" > Add Code </a></td>'
          });
          tableBody.empty();
          tableBody.append(item + '<tr>');
        }, false);
      }

      reload();

      socket.on("device_disconnected", function (mac) {
        reload();
      })
      socket.on("new_device_connected", function (mac) {
        reload();
      })
    };
  </script>
</body>

</html>